*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.arkaplan{
    background-color: rgb(51, 47, 47);
}
.kapsayici{
   width:  960px;
   margin: 0 auto;

}
.ust{
    display: flex;
    justify-content: space-between;
    align-items: center;
min-height: 200px;
}
.ust .logo{
    text-align: center;
     color: white;
}
.ust .logo h1{
    font-size: 3rem;
}
.ust .logo h2{
    font-size: 2rem;
}

.menu ul{
    list-style: none;
    display: flex;

}
.menu a{
    padding: 0 20px;
    color: white;
}
span{
    font-size: 5rem;
    color: rgb(236, 113, 12);
}
.orta .bolum1{
    margin-top: 20px;
    border: 10px solid black ;
    padding: 20px;
}
.orta .bolum1 img{
width: 100%;
}


   .bolum2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   }
.kutu{
    flex-basis: 290px;
}
.orta .kutu h2{
    margin-top: 15px;
    margin-bottom: 25px;
}
.bolum3{
    display: flex;
   justify-content: space-between;
   gap: 50px;
}
.cizgi{
    border-top: dotted 1px rgb(241, 134, 12);
    margin: 20px 0;
}
.alt{
    display: flex;
    gap: 130px;
    padding: 20 0;
}
.alt .baglanti{
    flex-grow: 1;
}
.alt .baglanti a{
    /* display: block; */
    font-size: 1rem;
    text-decoration: none;
   color: orangered;
   /* padding-bottom: 10px;  */
}
.alt .baglanti ul li{
border-bottom: dotted 1px orange;
margin: 10px 0;
}
.alt .baglanti ul{
    list-style: none;
}
.alt .baglanti h2{
color: white;
}